<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Busqueda de viviendas</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5 pr-1">
            <div class="form-group">
              <label>Comunidad Autónoma</label>
              <select class="form-control" id="community">
                >
                <option value="">Seleccione una comunidad autónoma</option>
                <option value="andalucia">Andalucía</option>
                <option value="aragon">Aragón</option>
                <option value="asturias">Asturias</option>
                <option value="baleares">Baleares</option>
                <option value="canarias">Canarias</option>
                <option value="cantabria">Cantabria</option>
                <option value="castilla-la-mancha">Castilla-La Mancha</option>
                <option value="castilla-y-leon">Castilla y León</option>
                <option value="cataluña">Cataluña</option>
                <option value="comunidad-valenciana">
                  Comunidad Valenciana
                </option>
                <option value="extremadura">Extremadura</option>
                <option value="galicia">Galicia</option>
                <option value="la-rioja">La Rioja</option>
                <option value="madrid">Madrid</option>
                <option value="murcia">Murcia</option>
                <option value="navarra">Navarra</option>
                <option value="pais-vasco">País Vasco</option>
              </select>
            </div>
          </div>
          <div class="col-md-5 pl-1">
            <div class="form-group">
              <label>Provincia</label>
              <select class="form-control" id="province">
                <option value="">Seleccione una provincia</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 pr-1">
            <div class="form-group">
              <label>Ciudad</label>
              <input
                type="text"
                class="form-control"
                id="city"
                placeholder="Introduzca una ciudad"
                value=""
              />
            </div>
          </div>
          <div class="col-md-5 pl-1">
            <div class="form-group">
              <label>Tipo de vivienda</label>
              <select class="form-control" id="home_type">
                <option value="apartment">Apartamento</option>
                <option value="attached_house">Casa adosada</option>
                <option value="house">Casa o chalet</option>
                <option value="duplex">Dúplex</option>
                <option value="studio">Estudio</option>
                <option value="rustic_farm">Finca rústica</option>
                <option value="loft">Loft</option>
                <option value="new_construction">Obra Nueva</option>
                <option value="flat">Piso</option>
                <option value="ground_floor">Planta baja</option>
                <option value="penthouse">Ático</option>
              </select>
            </div>
          </div>
          <!-- Add filter button -->
          <div class="col-md-2 pl-1">
            <div class="form-group">
              <label> </label>
              <button
                type="button"
                class="btn btn-primary btn-block"
                id="filter"
              >
                Filtrar
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Rentabilidad</th>
                <th>Precio de la vivienda</th>
                <th>Precio estimado de alquiler</th>
                <th>Provincia</th>
                <th>Ciudad</th>
                <th>Zona</th>
                <th>Tipo de vivienda</th>
              </thead>
              <tbody>
                <tr>
                  <td>14.7%</td>
                  <td>200.000€</td>
                  <td>1241€/mes</td>
                  <td>Madrid</td>
                  <td>Madrid</td>
                  <td>Castellana</td>
                  <td>Piso</td>
                </tr>
                <tr>
                  <td>13.8%</td>
                  <td>56.500€</td>
                  <td>347€/mes</td>
                  <td>Toledo</td>
                  <td>Toledo</td>
                  <td>Casco antiguo</td>
                  <td>Piso</td>
                </tr>
                <tr>
                  <td>13.3%</td>
                  <td>78.700€</td>
                  <td>456€/mes</td>
                  <td>Badajoz</td>
                  <td>Mérida</td>
                  <td>Centro</td>
                  <td>Casa adosada</td>
                </tr>
                <tr>
                  <td>12.9%</td>
                  <td>91.000€</td>
                  <td>567€/mes</td>
                  <td>Santander</td>
                  <td>Cantabria</td>
                  <td>La Albericia</td>
                  <td>Casa o chalet</td>
                </tr>
                <tr>
                  <td>12.8%</td>
                  <td>51.500€</td>
                  <td>313€/mes</td>
                  <td>Alicante</td>
                  <td>Benidorm</td>
                  <td>Poniente</td>
                  <td>Piso</td>
                </tr>
                <tr>
                  <td>12.7%</td>
                  <td>100.000€</td>
                  <td>678€/mes</td>
                  <td>Zamora</td>
                  <td>Zamora</td>
                  <td>Barrio del Sepulcro</td>
                  <td>Ático</td>
                </tr>
                <tr>
                  <td>12.6%</td>
                  <td>65.000€</td>
                  <td>375€/mes</td>
                  <td>Barcelona</td>
                  <td>Barcelona</td>
                  <td>Barceloneta</td>
                  <td>Piso</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
