<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    .centered-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 13vh;
    }
    .input-group.no-border .form-control {
      width: 110vh;
      height: 7vh;
    }
    .h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 8vh;
    }
  </style>
</head>
<body>
  <div class="container centered-div">
    <div class="row">
      <form>
        <div class="input-group no-border">
          <input
            type="text"
            value=""
            class="form-control"
            placeholder="Busca una zona..."
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <h1 class="h1">Comunidad de Madrid</h1>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-info">
                <i class="nc-icon nc-bank"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Precio venta medio</p>
                <p class="card-title">151.357</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats"><i class="fa fa-refresh"></i> Buscar ahora</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Alquiler</p>
                <p class="card-title">913€</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats"><i class="fa fa-calendar-o"></i> Último mes</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-paper text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Precio por m2</p>
                <p class="card-title">1567€</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats">
            <i class="fa fa-clock-o"></i> 2 más cara de España
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-favourite-28 text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Temperatura del mercado</p>
                <p class="card-title">Más oferta</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats">
            <i class="fa fa-refresh"></i> 1 más caliente de España
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Comparación de precios</h5>
          <p class="card-category">Mes de Marzo</p>
        </div>
        <div class="card-body">
          <canvas id="chartHours" width="400" height="100"></canvas>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats">
            <i class="fa fa-history"></i> Actualizado hace 3 minutos
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Rentabilidad media</h5>
          <p class="card-category">Datos de Marzo</p>
        </div>
        <div class="card-body">
          <canvas id="chartEmail"></canvas>
        </div>
        <div class="card-footer">
          <div class="legend">
            <i class="fa fa-circle text-danger"></i> +15%
            <i class="fa fa-circle text-warning"></i> +10%
            <i class="fa fa-circle text-primary"></i> +5%
            <i class="fa fa-circle text-gray"></i> No rentable
          </div>
          <hr />
          <div class="stats">
            <i class="fa fa-calendar"></i> 13.265 propiedades
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-title">Estadísticas de crecimiento</h5>
          <p class="card-category">Gráfico comparativo con el año anterior</p>
        </div>
        <div class="card-body">
          <canvas id="speedChart" width="400" height="100"></canvas>
        </div>
        <div class="card-footer">
          <div class="chart-legend">
            <i class="fa fa-circle text-info"></i> Rentabilidad actual
            <i class="fa fa-circle text-warning"></i> Rentabilidad anterior
          </div>
          <hr />
          <div class="card-stats">
            <i class="fa fa-check"></i> Información análizada con IA
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
