<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-user">
          <div class="image">
            <img src="assets/img/damir-bosnjak.jpg" alt="..." />
          </div>
          <div class="card-body">
            <div class="author">
              <a href="#">
                <img
                  class="avatar border-gray"
                  src="assets/img/mike.jpg"
                  alt="..."
                />
                <h5 class="title">Pepito Perez</h5>
              </a>
              <p class="description">@pepitusmaximus</p>
            </div>
            <p class="description text-center">
              Rol: Inversor
              <br />
              Modo de pago: Gratuito <br />
              Fecha de registro: 01/01/2021 <br />
            </p>
          </div>
          <div class="card-footer">
            <hr />
            <div class="button-container">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-6 ml-auto">
                  <h5>
                    12
                    <br />
                    <small>Busquedas</small>
                  </h5>
                </div>
                <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                  <h5>
                    2356
                    <br />
                    <small>Resultados</small>
                  </h5>
                </div>
                <div class="col-lg-3 mr-auto">
                  <h5>
                    24,6%
                    <br />
                    <small>Rentabilidad media</small>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Datos del usuario</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Introduce tu nombre de usuario</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder="Nombre de usuario"
                      value="Mario"
                    />
                  </div>
                </div>
                <div class="col-md-5 pl-1">
                  <div class="form-group">
                    <label for="emailInput">Correo electrónico</label>
                    <input
                      type="email"
                      class="form-control"
                      id="emailInput"
                      placeholder="pepitus40k@alumnos.huyedeunex.es"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Edad</label>
                    <input
                      type="number"
                      class="form-control"
                      id="age"
                      placeholder="30"
                      value="30"
                    />
                  </div>
                </div>
                <div class="col-md-5 pl-1">
                  <div class="form-group">
                    <label>Salario (€/mes)</label>
                    <input
                      type="number"
                      class="form-control"
                      id="salary"
                      placeholder="Salario"
                      value="1000"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Cantidad disponible (€)</label>
                    <input
                      type="number"
                      class="form-control"
                      id="initial_amount"
                      placeholder="Initial amount"
                      value="15000"
                    />
                  </div>
                </div>
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Cantidad Máxima (€)</label>
                    <input
                      type="number"
                      class="form-control"
                      id="max_amount"
                      placeholder="Maximum amount"
                      value="50000"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Banco</label>
                    <select class="form-control" id="bank">
                      <option value="bbva">BBVA</option>
                      <option value="bankinter">Bankinter</option>
                      <option value="ing">ING</option>
                      <option value="deutsche-bank">Deutsche Bank</option>
                      <option value="evo-bank">Evo Bank</option>
                      <option value="santander">Santander</option>
                      <option value="bankia">Bankia</option>
                      <option value="sabadell">Sabadell</option>
                      <option value="la-caixa">La Caixa</option>
                      <option value="abanca">Abanca</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button
                    type="button"
                    class="btn btn-primary btn-round"
                    id="addCustomBank"
                  >
                    Añadir banco
                  </button>
                </div>
              </div>
              <div class="row" id="customBankFields" style="display: none">
                <div class="col-md-6 p-rg-2">
                  <div class="form-group">
                    <label>Maxima edad hipoteca</label>
                    <input
                      type="number"
                      class="form-control"
                      id="maxMortgageAge"
                      placeholder="70"
                    />
                  </div>
                </div>
                <div class="col-md-6 p-rg-2">
                  <div class="form-group">
                    <label>Interés anual de hipoteca fija</label>
                    <input
                      type="number"
                      class="form-control"
                      id="interestRate"
                      placeholder="3.0"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Notas</label>
                    <textarea class="form-control textarea">
 Mirar piso calle Teide en Cáceres</textarea
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button
                    type="submit"
                    class="btn btn-primary btn-round"
                    (click)="showNotification('top', 'center')"
                  >
                    Actualizar información
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
